body{ 
	font-family: Times New Roman;
	background: #f1f1f1;	
}
.top {
	background: black;
	color: white;
	text-align: center;
}
img {
	border-radius: 10%;
}
.mid {
	background: black;
	color: white;
	text-align: center;
}
.top-mid {
	background: black;
	color: white;
	text-align: center;
}
.bottom {
	background: black;
	color: white;
	text-align: center;
}
.hmm {
	background: black;
	color: white;
	text-align: center;
}
.about {
	background: black;
	color: white;
	text-align: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-instagram {
    background: #222;
    color: white;
}
.fa-google {
    background: #222;
    color: white;
}
.fa-facebook {
    background: #222;
    color: white;
}